.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E1A4B;
  color: white;
  text-align: center;
}

div.pageContent {
  margin-left: 100px;
  margin-right: 100px;
}

div.calendar {
	float:right
}
